<article class="habit">
    <div class="title">
        <big>
            <p><span class="text-muted">I better </span class="text-muted"></small>{{habit_title}} {{#if habit_info}}<span class="text-muted">because I
                {{habit_info}} </span class="text-muted"></p>{{/if}}
        </big>
    </div>
</article>