<div class ="tablebox">
<table class="table">
  <thead>
    <tr>
       <th class ="table-primary" scope="col"></th>
      {{!-- for each day in the month create a column --}}
        {{#each this}}
         <th class ="table-primary" scope="col">1</th>
         {{/each}}
    </tr>
  </thead>
  <tbody>
      {{!-- for each day habit create a row --}}
        {{#each this}}
    <tr>
      <th class="table-success tablebox-header" scope="row">Read for 1 hr</th>
        {{!-- for each day in the month create a row --}}
        {{#each this}}
    <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day1"> 
        </div>
     </td> 
     {{/each}} 
  </tbody>
</table>
</div>