<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>iBetter</title>
  <link href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet'>
</head>

<body>
  <div class="wrapper top-layer m-2">
    <header class="main-header">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="navbar-brand" href="/">iBetter </a>
            </li>
            <li class="nav-item">
              <a class="nav-link header-text" href="/my-habits">My Habits</a>
            </li>
            {{#if loggedIn}}
            <li class="nav-item">
              <a id="logout" class="nav-link">Logout</a>
            </li>
            {{else}}
            <li class="nav-item">
              <a class="nav-link" href="/login">Login</a>
            </li>
            {{/if}}
          </ul>
        </div>
      </nav>
    </header>
  </div>

  <main>
    <div class="bg-image">
      <div id="overlay">
        <div class="top-layer">
          {{{ body }}}
        </div>
      </div>
    </div>
  </main>

  {{!-- <footer>
    <div class="card text-center top-layer">
      <div class="card-header"></div>
      <div class="card-body">
        <h5 class="card-title">Thanks for visiting the iBetter Habit tracker wesite</h5>
        <p class="card-text">We value your support and encourage you to be Better!</p>
      </div>
      <div class="card-footer text-muted"></div>
    </div>
  </footer> --}}


  <script src="/javascript/logout.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>

</body>

</html>