<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>iBetter</title>
  <link href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/sketchy/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href='https://fonts.googleapis.com/css?family=Kalam' rel='stylesheet'>
</head>

<body>
  <div class="container">
    <header class="main-header m-4">
      <nav class="navbar navbar-expand-lg navbar-light bg-white d-flex align-items-center justify-content-center">
        <ul class="navbar-nav d-flex align-items-center justify-content-center">
          <li class="nav-item active">
            <a class="nav-link " href="/">
              <h1>iBetter</h1>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link header-text Kalam-font" href="/my-habits">My Habits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link header-text Kalam-font" href="/table">My Progress</a>
          </li>
          {{#if loggedIn}}
          <li class="nav-item">
            <a id="logout" class="nav-link header-text Kalam-font">Logout</a>
          </li>
          {{else}}
          <li class="nav-item">
            <a class="nav-link header-text Kalam-font" href="/login">Login</a>
          </li>
          {{/if}}
        </ul>
      </nav>
    </header>
  </div>

  <main>
    {{{ body }}}
  </main>


  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
    crossorigin="anonymous"></script>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="dist/bootstrap-alert-modal.min.js"></script>

  <footer>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title Kalam-font">Thanks for visiting the iBetter Habit tracker wesite</h5>
        <p class="card-text Kalam-font">We value your support and encourage you to be Better!</p>
      </div>
    </div>
  </footer>

</body>

</html>