<section class="create-habit">
  <form class="new-habit-form form-border vstack gap-3">
    <div class="header-form">
      <h2>Create New Habit</h2>
    </div>
    <div>
      <label for="habit-title" class="form-label">Title</label>
      <input type="text" class="form-control" id="habit-title" name="habit-title" />
    </div>
    <div>
      <label for="habit-info" class="form-label">Content</label>
      <input class="form-control" id="habit-info" name="habit-info" />
    </div>
    <div>
      <button type="submit" class="btn-create">Create</button>
    </div>
  </form>

  <section class="edit-habit">
    <ol class="habit-list">
      {{#each habits as |habit|}}
      <li>
          {{> habit-desc habit}}
      </li>
      {{/each}}
    </ol>

      {{!-- <h2>
        Edit Habit
      </h2>
      <form class="edit-habit-form">
        <div>
          <input type="text" name="habit-title" value="" />
        </div>

        <button type="submit">Save habit</button>
        <button type="button" class="delete-habit-btn">Delete habit</button>
      </form>
  </section> --}}
</section>


<script src="/javascript/create-new-habit.js"></script>
{{!-- <script src="/javascript/edit-habit.js"></script>
<script src="/javascript/delete-habit.js"></script> --}}