<section class="create-habit">
  <form class="new-habit-form form-border vstack gap-3">
    <div class="header-form">
      <h2>Create New Habit</h2>
    </div>
    <div>
      <label for="habit-title" class="form-label">Title</label>
      <input type="text" class="form-control" id="habit-title" name="habit-title" />
    </div>
    <div>
      <label for="habit-info" class="form-label">Content</label>
      <input class="form-control" id="habit-info" name="habit-info" />
    </div>
    <div>
      <button type="submit" class="btn-create">Create</button>
    </div>
  </form>

  {{!-- dones't work --}}
  <section class="edit-habit">
    {{!-- <ol class="habit-list">
      {{#each habits as |habit|}}
      <li>
          {{> habit-desc habit}}
      </li>
      {{/each}}
    </ol> --}}
  </section>
</section>

{{!-- templet --}}
<section class="edit-habit">
  <form class="edit-habit-form row row-cols-lg-auto g-3 align-items-center justify-content-center">
    <div class="col">
      <input type="text" name="habit-title" value="" />
    </div>
    <div class="col">
      <input type="text" name="habit-content" value="" />
    </div>
    <div class="col">
      <button type="submit">Edit</button>
    </div>
    <div class="col">
      <button type="button" class="delete-habit-btn">Delete</button>
    </div>
  </form>
</section>

<script src="/javascript/create-new-habit.js"></script>
{{!-- <script src="/javascript/edit-habit.js"></script>
<script src="/javascript/delete-habit.js"></script> --}}