<article class="page-margin">
  <h2 class="Kalam-font">
    Edit habit
  </h2>
  <form class="edit-habit-form">
    <div>
      <input name="habit_title" class="Kalam-font" type="text" value="{{habit_title}}" />
      <input name="habit_info" class="Kalam-font" type="text" value="{{habit_info}}" />
    </div>
    <button class="Kalam-font" type="submit">Save habit</button>
    <button type="button" class="delete-habit-btn Kalam-font">Delete habit</button>
  </form>
</article>

<script src="/javascript/edit-habit.js"></script>
<script src="/javascript/delete-habit.js"></script>