

<div class ="tablebox">
<table class="table">
  <thead>
    <tr>
       <th class ="table-primary" scope="col"></th>
      <th class ="table-primary" scope="col">1</th>
      <th class ="table-primary" scope="col">2</th>
      <th class ="table-primary" scope="col">3</th>
      <th class ="table-primary" scope="col">4</th>
      <th class ="table-primary" scope="col">5</th>
      <th class ="table-primary" scope="col">6</th>
      <th class ="table-primary" scope="col">7</th>
      <th class ="table-primary" scope="col">8</th>
      <th class ="table-primary" scope="col">9</th>
      <th class ="table-primary" scope="col">10</th>
      <th class ="table-primary" scope="col">11</th>
      <th class ="table-primary" scope="col">12</th>
      <th class ="table-primary" scope="col">13</th>
      <th class ="table-primary" scope="col">14</th>
      <th class ="table-primary" scope="col">15</th>
      <th class ="table-primary" scope="col">16</th>
      <th class ="table-primary" scope="col">17</th>
      <th class ="table-primary" scope="col">18</th>
      <th class ="table-primary" scope="col">19</th>
      <th class ="table-primary" scope="col">20</th>
      <th class ="table-primary" scope="col">21</th>
      <th class ="table-primary" scope="col">22</th>
      <th class ="table-primary" scope="col">23</th>
      <th class ="table-primary" scope="col">24</th>
      <th class ="table-primary" scope="col">25</th>
      <th class ="table-primary" scope="col">26</th>
      <th class ="table-primary" scope="col">27</th>
      <th class ="table-primary" scope="col">28</th>
      <th class ="table-primary" scope="col">29</th>
      <th class ="table-primary" scope="col">30</th>
      <th class ="table-primary" scope="col">31</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="table-success tablebox-header" scope="row">Read for 1 hr</th>
    <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day1"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day2"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day3"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day4"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day5"> 
        </div>
     </td>
         <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day6"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day7"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day8"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day9"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day10"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day11"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day12"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day13"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day14"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day15"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day16"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day17"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day18"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day19"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day20"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day21"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day22"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day23"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day24"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day25"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day26"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day27"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day28"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day29"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day30"> 
        </div>
     </td>
          <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit1-day31"> 
        </div>
     </td>
    </tr>
    <tr>
      <th class="table-success" scope="row">code 2hrs</th>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day1"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day2"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day3"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day4"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day5"> 
        </div>
     </td>
         <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day6"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day7"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day8"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day9"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day10"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day11"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day12"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day13"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day14"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day15"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day16"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day17"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day18"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day19"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day20"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day21"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day22"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day23"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day24"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day25"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day26"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day27"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day28"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day29"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day30"> 
        </div>
     </td>
          <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit2-day31"> 
        </div>
     </td>
    </tr>
    <tr>
      <th class="table-success" scope="row">exercise 30 min</th>
<td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day1"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day2"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day3"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day4"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day5"> 
        </div>
     </td>
         <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day6"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day7"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day8"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day9"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day10"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day11"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day12"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day13"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day14"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day15"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day16"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day17"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day18"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day19"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day20"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day21"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day22"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day23"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day24"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day25"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day26"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day27"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day28"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day29"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day30"> 
        </div>
     </td>
          <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit3-day31"> 
        </div>
     </td>
    </tr>
    <tr>
      <th class="table-success" scope="row">Turn off phone</th>
<td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day1"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day2"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day3"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day4"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day5"> 
        </div>
     </td>
         <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day6"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day7"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day8"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day9"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day10"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day11"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day12"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day13"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day14"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day15"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day16"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day17"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day18"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day19"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day20"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day21"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day22"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day23"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day24"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day25"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day26"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day27"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day28"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day29"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day30"> 
        </div>
     </td>
          <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit4-day31"> 
        </div>
     </td>
    </tr>
    <tr>
      <th class="table-success" scope="row"> healthy meal</th>
<td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day1"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day2"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day3"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day4"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day5"> 
        </div>
     </td>
         <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day6"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day7"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day8"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day9"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day10"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day11"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day12"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day13"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day14"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day15"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day16"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day17"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day18"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day19"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day20"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day21"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day22"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day23"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day24"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day25"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day26"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day27"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day28"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day29"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day30"> 
        </div>
     </td>
          <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit5-day31"> 
        </div>
     </td>
    </tr>
    <tr>
      <th class="table-success" scope="row">Work on Hobby</th>
<td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day1"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day2"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day3"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day4"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day5"> 
        </div>
     </td>
         <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day6"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day7"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day8"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day9"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day10"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day11"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day12"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day13"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day14"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day15"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day16"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day17"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day18"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day19"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day20"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day21"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day22"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day23"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day24"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day25"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day26"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day27"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day28"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day29"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day30"> 
        </div>
     </td>
          <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit6-day31"> 
        </div>
     </td>
    </tr>
    <tr>
      <th scope="row" class="table-success">Chores</th>
<td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day1"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day2"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day3"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day4"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day5"> 
        </div>
     </td>
         <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day6"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day7"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day8"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day9"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day10"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day11"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day12"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day13"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day14"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day15"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day16"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day17"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day18"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day19"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day20"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day21"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day22"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day23"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day24"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day25"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day26"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day27"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day28"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day29"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day30"> 
        </div>
     </td>
          <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit7-day31"> 
        </div>
     </td>
    </tr>
      <tr>
      <th scope="row" class="table-success">Call family</th>
<td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day1"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day2"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day3"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day4"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day5"> 
        </div>
     </td>
         <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day6"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day7"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day8"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day9"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day10"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day11"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day12"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day13"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day14"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day15"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day16"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day17"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day18"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day19"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day20"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day21"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day22"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day23"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day24"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day25"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day26"> 
        </div>
     </td>
       <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day27"> 
        </div>
     </td>
     <td>
       <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day28"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day29"> 
        </div>
     </td>
     <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day30"> 
        </div>
     </td>
          <td>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault habit8-day31"> 
        </div>
     </td>
    </tr>
  </tbody>
</table>
</div>

 <script src="/javascript/enter_progress.js"></script>