
<div id="day_dropdown"class="dropdown">
  <button type="click" class="dropbtn dropbtnDay">Day</button>
  <div id="DropdownDay" class="dropdown-content dropdown-content-Days">
    <a href="#">Sunday</a>
    <a href="#">Monday</a>
    <a href="#">Tuesday</a>
    <a href="#">Wednesday</a>
    <a href="#">Thurday</a>
    <a href="#">Friday</a>
    <a href="#">Saturday</a>
  </div>
</div>
<div id="habit_dropdown"class="dropdown">
  <button type="click" class="dropbtn dropbtnHabit">Habit</button>
  <div id="DropdownHabit" class="dropdown-content dropdown-content-Habits">
    <a href="#">Read for an hour</a>
    <a href="#">Turn off Phone - min 1hr</a>
    <a href="#">Exercise - min 30min</a>
    <a href="#">Coding - min 2hrs</a>
    <a href="#">Me time - fun activity - 1h</a>
  </div>
</div>
<div id="status_dropdown"class="dropdown">
  <button type="click" class="dropbtn dropbtnStatus">Status</button>
  <div id="Dropdownstatus" class="dropdown-content dropdown-content-status">
    <a href="#">Completed</a>
    <a href="#">Not Complete</a>
  </div>
</div>
<div class ="tablebox">
<table class="table">
  <thead>
    <tr>
      <th class ="table-primary" scope="col">Date</th>
      <th class ="table-primary" scope="col">Read for an hour</th>
      <th class ="table-primary" scope="col">Turn off Phone - min 1hr</th>
      <th class ="table-primary" scope="col">Exercise - min 30min</th>
      <th class ="table-primary" scope="col">Coding - min 2hrs</th>
      <th class ="table-primary" scope="col">Me time - fun activity - 1hr</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="table-success" scope="row">Sunday</th>
     <td colspan="4"></td>
      <td></td>
    </tr>
    <tr>
      <th class="table-success" scope="row">Monday</th>
     <td colspan="4"></td>
      <td></td>
    </tr>
    <tr>
      <th class="table-success" scope="row">Tuesday</th>
      <td colspan="4"></td>
      <td></td>
    </tr>
    <tr>
      <th class="table-success" scope="row">Wednesday</th>
      <td colspan="4"></td>
      <td class="table-success"> Completed</td>
      <td></td>
    </tr>
    <tr>
      <th class="table-success" scope="row">Thursday</th>
      <td colspan="4"></td>
      <td></td>
    </tr>
    <tr>
      <th class="table-success" scope="row">Friday</th>
      <td colspan="4"></td>
      <td></td>
    </tr>
    <tr>
      <th scope="row" class="table-success">Saturday</th>
      <td colspan="4"></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>

 <script src="/javascript/enter_progress.js"></script>