{{!-- {{#if loggedIn}} --}}
<div class="container text-center">
  <div class="row">
    <section class="chartbox col-md-9">
      <canvas id="myChart"></canvas>
      <div class="add-habit-area">
        <button type="button" class="btn-add-habit"><a href="/dashboard">Add New Habit</a></button>
      </div>
    </section>

    <section class="note col-md-3">
      <div class="note-container">
        <div id="note-area"></div>
        <div>
          <button type="button" class="add-note-area">Add New Note</button>
        </div>
      </div>
    </section>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{{> chartbox }}
<script src="/javascript/homepage.js"></script>
{{!-- {{else}} --}}
<div class="container text-center welcome">
  <div class="row">
    <div class="col">
      <h1>Welcome to Use Habit Tracker</h1>
    </div>
  </div>
</div>
{{!-- {{/if}} --}}

<script src="/javascript/add-note.js"></script>