<div class="tablebox">
  <table id="results_table" class="table">
    <thead>
      <th></th>
      {{#each habits}}
        <th>{{habit_title}}</th>
      {{/each}}
    </thead>
    <tbody>
      <tr>
        <td class="table-primary" name="day1" id="day1" scope="col">1</td>
        {{#each habits}}
          <td>
            <input type="checkbox" checked="{{isChecked '1' with results}}" />
          </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day1" id="day1" scope="col">2</td>
        {{#each habits}}
          <td>
            <input type="checkbox" />
          </td>
        {{/each}}
      </tr>
      <tr>
        <td class="table-primary" name="day2" id="day2" scope="col">2</td>
        <td class="table-primary" name="day3" id="day3" scope="col">3</td>
        <td class="table-primary" name="day4" id="day4" scope="col">4</td>
        <td class="table-primary" name="day5" id="day5" scope="col">5</td>
        <td class="table-primary" name="day6" id="day6" scope="col">6</td>
        <td class="table-primary" name="day7" id="day7" scope="col">7</td>
        <td class="table-primary" name="day8" id="day8" scope="col">8</td>
        <td class="table-primary" name="day9" id="day9" scope="col">9</td>
        <td class="table-primary" name="day10" id="day10" scope="col">10</td>
        <td class="table-primary" name="day11" id="day11" scope="col">11</td>
        <td class="table-primary" name="day12" id="day12" scope="col">12</td>
        <td class="table-primary" name="day13" id="day13" scope="col">13</td>
        <td class="table-primary" name="day14" id="day14" scope="col">14</td>
        <td class="table-primary" name="day15" id="day15" scope="col">15</td>
        <td class="table-primary" name="day16" id="day16" scope="col">16</td>
        <td class="table-primary" name="day17" id="day17" scope="col">17</td>
        <td class="table-primary" name="day18" id="day18" scope="col">18</td>
        <td class="table-primary" name="day19" id="day19" scope="col">19</td>
        <td class="table-primary" name="day20" id="day20" scope="col">20</td>
        <td class="table-primary" name="day21" id="day21" scope="col">21</td>
        <td class="table-primary" name="day22" id="day22" scope="col">22</td>
        <td class="table-primary" name="day23" id="day23" scope="col">23</td>
        <td class="table-primary" name="day24" id="day24" scope="col">24</td>
        <td class="table-primary" name="day25" id="day25" scope="col">25</td>
        <td class="table-primary" name="day26" id="day26" scope="col">26</td>
        <td class="table-primary" name="day27" id="day27" scope="col">27</td>
        <td class="table-primary" name="day28" id="day28" scope="col">28</td>
        <td class="table-primary" name="day29" id="day29" scope="col">29</td>
        <td class="table-primary" name="day30" id="day30" scope="col">30</td>
        <td class="table-primary" name="day31" id="day31" scope="col">31</td>
      </tr>
    </tbody>
  </table>
</div>