<section class="row d-flex justify-content-center">
    <article class="m-4 col-5 col-12-sm m-2-sm">
        <article class="col">
            <h2 class="text-center">Login</h2>
            <form class="form-group login-form">
                <div>
                    <label for="email-login" class="form-label m-1">Email:</label>
                    <input type="text" placeholder="Email" id="email-login" class="Kalam-font form-control m-1" />
                </div>
                <div>
                    <label for="password-login" class="form-label m-1">Password:</label>
                    <input type="password" placeholder="Password" id="password-login"W
                        class="Kalam-font form-control m-1" />
                </div>
                <button class="btn btn-primary w-100 m-1" type="submit">Login</button>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
            </form>
        </article>
    </article>

    <article class="m-4 col-5 col-12-sm">
        <article class="col">
            <h2 class="text-center">Signup</h2>
            <form class="form-group signup-form">
                <div>
                    <label for="username-signup" class="form-label m-1">Username:</label>
                    <input type="text" placeholder="Username" id="username-signup"
                        class="Kalam-font form-control m-1" />
                </div>
                <div>
                    <label for="email-signup" class="form-label m-1">Email:</label>
                    <input type="text" placeholder="Email" id="email-signup" class="Kalam-font form-control m-1" />
                </div>
                <div>
                    <label for="password-signup" class="form-label m-1">Password:</label>
                    <input type="password" placeholder="Password" id="password-signup"
                        class="Kalam-font form-control m-1" />
                </div>
                <button class="btn btn-primary w-100 m-1" type="submit">Signup</button>
            </form>
        </article>
    </article>
</section>


<script src="/javascript/login.js"></script>