<section class="container d-flex flex-row justify-content-center">
<article class="container d-flex flex-row justify-content-center">
    <article class="column m-5">
        <h2 class="text-center">Login</h2>
        <form class="form-group login-form">
            <div>
                <label for="email-login" class="form-label m-1">Email:</label>
                <input type="text" placeholder="Email" id="email-login" class="Kalam-font form-control m-1" />
            </div>
            <div>
                <label for="password-login" class="form-label m-1">Password:</label>
                <input type="password" placeholder="Password" id="password-login" class="Kalam-font form-control m-1" />
            </div>
            <button class="btn btn-primary w-100 m-1" type="submit">Login</button>
        </form>
    </article>
</article>

<article class="container d-flex flex-row justify-content-center">
    <article class="column m-5">
        <h2>Signup</h2>
        <form class="form-group signup-form">
            <div>
                <label for="username-signup" class="form-label m-1">Username:</label>
                <input type="text" placeholder="Username" id="username-signup" class="Kalam-font form-control m-1"/>
            </div>
            <div>
                <label for="email-signup" class="form-label m-1">Email:</label>
                <input type="text" placeholder="Email" id="email-signup" class="Kalam-font form-control m-1"/>
            </div>
            <div>
                <label for="password-signup" class="form-label m-1">Password:</label>
                <input type="password" placeholder="Password" id="password-signup" class="Kalam-font form-control m-1"/>
            </div>
            <button class="btn btn-primary w-100 m-1" type="submit">Signup</button>
        </form>
    </article>
</article>
</section>
<script src="/javascript/login.js"></script>