<section class="page-margin" >
  <h2 class="Kalam-font Kalam-font-header ">Create New Habit</h2>

  <form class="new-habit-form margin_top">
    <div class="margin_top">
      <label class="Kalam-font" for="habit-title">Title</label>
      <input class="Kalam-font" type="text" id="habit-title" name="habit-title" />
    </div>
    <div class="margin_top2">
      <label class="Kalam-font" for="habit-info">info</label>
      <input class="Kalam-font" id="habit-info" name="habit-info" />
    </div>
    <button class="Kalam-font margin_top2" type="submit" class="btn ">Create</button>
  </form>
</section>

{{#if habits.length}}
<section class="page-margin">
  <h2 class="Kalam-font Kalam-font-header">Your habits</h2>
 <ol>
    {{#each habits as |habit|}}
    <li class="Kalam-font">
      {{> habit-info habit}}
      <a href="/my-habits/edit/{{habit.id}}" class="edit-link Kalam-font">Edit habit</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-habit.js"></script>