<section class="container d-flex flex-row justify-content-center">

  <article class="column m-5">
      <h2 class="">Create a New Habit</h2>
      <form class="form-group new-habit-form">
        <div class="">
          <label for="habit-title" class="form-label m-1">I better...</label>
          <input class="form-control m-1" type="text" id="habit-title" name="habit-title" />
        </div>
          <label for="habit-info" class="form-label m-1">because I...</label>
          <input class="form-control m-1" id="habit-info" type="text" name="habit-info" />
        </div>
        <button class="btn btn-primary w-100 m-1" type="submit">Create</button>
      </form>
  </article>

  {{#if habits.length}}
  <article class="column m-5">
  <ul class="list-group">
    <li class="list-group-item active">
      <h2>Your habits</h2>
    </li>
    {{#each habits as |habit|}}
    <li class="list-group-item">
      <div class="d-flex flex-row">
{{> habit-info habit}}
      <a href="/my-habits/edit/{{habit.id}}" class="edit-link"><i class="bi bi-pencil-fill m-3"></i></a>
      </div>
      
    </li>
    {{/each}}
  </ul>
  {{/if}}
  </article>

</section>

<script src="/javascript/add-habit.js"></script>