<form class="col-sm-6 form-layout signup-form">
  <div class="form-group row">
    <label for="username-signup" class="col-sm-2 col-form-label bg-secondary">Username</label>
    <div class="col-sm-10">
      <input name="username-signup" type="text" class="form-control" id="username-signup" placeholder="username">
    </div>
  </div>
  <div class="form-group row">
    <label for="email-signup" class="col-sm-2 col-form-label bg-secondary">email</label>
    <div class="col-sm-10">
      <input name="email-signup" type="text" class="form-control" id="email-signup" placeholder="email">
    </div>
  </div>
    <div class="form-group row">
    <label for="password-signup" class="col-sm-2 col-form-label bg-secondary">password</label>
    <div class="col-sm-10">
      <input name="password-signup" type="text" class="form-control" id="password-signup" placeholder="password">
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-2"></div>
    <div class="col-sm-10">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck1">
        <label class="form-check-label text-secondary" for="gridCheck1">
          Signup to our Newsletter
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-primary">Sign up</button>
    </div>
  </div>
</form>

<script src="/javascript/signup.js"></script>