/* homepage */
body {
  background-image: url('/images/hip-square.png');
  background-color: rgba(255, 255, 255, 0.476);
  background-blend-mode: overlay;
  background-repeat: repeat;
}

.Kalam-font {
  font-family: 'Kalam';
  font-size: 26px;
}

.path1{
  stroke-dasharray:400;
  stroke-dashoffset:400;
  transition:.5s all;
}

.checkbox {
  position:relative;
  display:block;
  width:100%;
  height:60px;
  background:#E0DCDC;
  overflow:hidden;
  border-bottom:2px solid white;
}

.check:checked + label svg g path {
  stroke-dashoffset:0;
}

.check {
  width:50px;
  height:50px;
  position:absolute;
  opacity:0;
}

.label {
  z-index: 999;
}