/* homepage */
body {
  background-image: url('/images/hip-square.png');
  background-color: rgba(255, 255, 255, 0.476);
  background-blend-mode: overlay;
  background-repeat: repeat;
}

.Kalam-font {
  font-family: 'Kalam';
  font-size: 26px;
  padding: 0;
  margin: 0;
}

.path2 {
  stroke-dasharray: 1800;
  stroke-dashoffset: 1800;
  transition: .5s all;
}

.check:checked+label svg g path {
  stroke-dashoffset: 0;
}

.check {
  width: 50px;
  height: 50px;
  position: relative;
  z-index:20;
  opacity: 0;
  margin-top:10px;
  margin-bottom: -20px
}

.label {
  position: relative;

  margin-left:-50px
}

.tablebox {
  overflow: scroll;
  width: 60vw;
  height: 80vh;
  margin: 20px auto
}